[Unit]
Description=Periodically check zapret-rpi monitored domains

[Timer]
OnBootSec=5min
OnUnitActiveSec=5min
AccuracySec=30s
RandomizedDelaySec=30s
Persistent=true
Unit=zapret-rpi-autocheck.service

[Install]
WantedBy=timers.target
