[Unit]
Description=zapret2 for forwarded Wi-Fi clients
After=network-online.target zapret-rpi-nftables.service
Wants=network-online.target
Requires=zapret-rpi-nftables.service

[Service]
Type=forking
Restart=no
TimeoutSec=30sec
IgnoreSIGPIPE=no
GuessMainPID=no
ExecStart=/opt/zapret2/init.d/sysv/zapret2 start
ExecStop=/opt/zapret2/init.d/sysv/zapret2 stop
ExecReload=/opt/zapret2/init.d/sysv/zapret2 restart

[Install]
WantedBy=multi-user.target
